/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*RESET*/

/*COMMON*/
.list-button {
    
    display: inline-block;
    line-height: 20px;
    width: 70px;
    border-radius: 20px;
    text-align: center;
}

.text {
    font-size: 10px;
}

.check-button {
    display: inline-block;
    width: 20px;
    border-radius: 20px;
    text-align: center; 
    background-color: rgb(255, 255, 255);
    color: rgb(44, 145, 44);
    border-color: rgb(44, 145, 44);
}

.negative-button {
    display: inline-block;
    width: 20px;
    border-radius: 20px;
    text-align: center; 
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

/*FONT FAMILY*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
}
/*FONT FAMILY*/

/*HEADER*/
.header-sheet {
    background-color: rgb(255, 255, 255);
    height: 60px;
}

.logo {
    width: 40px;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-left: 10px;
}

.toboolist {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 6px 0 6px;
}
/*HEADER*/

/*MAIN*/

/*buttons*/
.container {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 780px;
    border: collapse;
    padding: 50px;
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 1%;
}
.button-1 {
    background-color: rgb(0, 140, 255);
    display: inline-block;
    line-height: 20px;
    border-radius: 10%;
    border-color: rgb(0, 140, 255);
    text-align: center;
}
.add-task {
    color: rgb(255, 255, 255);
    padding: 6px 6px 6px 6px;
}

.button-2 {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 20px;
    border-radius: 10%;
    border-color: rgb(221, 221, 221);
    text-align: center;
}

.add-section {
    color: rgb(149, 149, 149);
    padding: 6px 6px 6px 6px;
}

.line {
    margin-top: 5px;
}
/*buttons*/

/*first list*/
.unordered-list{
    list-style-type: none;
    margin-top: 20px;  
}

.list-info {
    list-style: none;
}

.editorial {
    background-color: rgb(0, 98, 255);
    border-color: rgb(0, 98, 255);
    color: rgb(255, 255, 255);
}
/*first list*/

/*second list*/
.margin-list{
    margin: 20px;
}

.q1-goals{
    background-color: rgb(103, 73, 179);
    border-color: rgb(103, 73, 179);
    color: rgb(255, 255, 255);
}

.recruiting {
    background-color: rgb(61, 176, 128);
    border-color: rgb(61, 176, 128);
    color: rgb(255, 255, 255);
}

.mobile {
    background-color: rgb(238, 185, 86);
    border-color: rgb(238, 185, 86);
    color: rgb(255, 255, 255);
}
/*second list*/

/*third list*/
.margin-list{
    margin: 20px;
}

.editorial {
    background-color: rgb(0, 98, 255);
    border-color: rgb(0, 98, 255);
    color: rgb(255, 255, 255);
}

.website {
    background-color: rgb(164, 63, 114);
    border-color: rgb(164, 63, 114);
    color: rgb(255, 255, 255);
}

.sales {
    background-color: rgb(30, 183, 66);
    border-color: rgb(30, 183, 66);
    color: rgb(255, 255, 255);
}
/*third list*/


/*MAIN*/