/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*RESET*/

/*FONT FAMILY*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
}
/*FONT FAMILY*/

/*HEADER*/
.header-sheet {
    background-color: rgb(255, 255, 255);
    height: 60px;
}

.logo {
    width: 40px;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-left: 10px;
}

.toboolist {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 6px 0 6px;
}
/*HEADER*/

/*MAIN*/

/*buttons*/
.container {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 780px;
    border: collapse;
    padding: 50px;
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 1%;
}
.button-1 {
    background-color: rgb(0, 140, 255);
    display: inline-block;
    line-height: 20px;
    border-radius: 10%;
    border-color: rgb(0, 140, 255);
    text-align: center;
}
.add-task {
    color: rgb(255, 255, 255);
    padding: 6px 6px 6px 6px;
}

.button-2 {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 20px;
    border-radius: 10%;
    border-color: rgb(221, 221, 221);
    text-align: center;
}

.add-section {
    color: rgb(149, 149, 149);
    padding: 6px 6px 6px 6px;
}

.line {
    margin-top: 5px;
}
/*buttons*/


/*MAIN*/